/* Importar la fuente Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #9ecdf3;/*EL MAS OSCURO*/
    padding: 0;
    font-family: 'Montserrat', sans-serif; /* Fuente profesional */
    color: #e0e0e0; /* Texto claro */
}

p {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.titulo {
    font-size: 25px;
    color: #000000; /* Texto blanco */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    width: 20%;
    height: auto;
    border: 10px solid #ffffff;;
    border-radius: 10px;;
    
    border-color: #ffffff;
}

.container {
    background-color: #ffffff; /* Fondo oscuro para contenedor */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Sombra más fuerte */
    padding: 20px;
    width: 1000px;
    margin: 20px auto;
    position: relative;
}

#container {
    display: flex;
    justify-content: space-between; /* Ajusta el espacio entre columnas si es necesario */

    align-items: flex-start; /* Alinea los items al principio */
    gap: 10px; /* Espacio entre columnas */
}

.contenedorConsola {
    flex: 1; /* Permite que las columnas ocupen espacio igual */
    padding: 10px; /* Espacio interno */
    display: flex;
    border: 10px solid #c6c6c6; /* Borde oscuro */
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif; /* Fuente profesional */
    width: 93.5%;
    height: 300px;
    overflow: hidden;
    background-color: #dedede; /* Fondo oscuro */
    flex: 1; /* Asegura que ocupe el espacio disponible */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    
    
}

.consolaSalida {
    margin-top: 15px;
    padding: 10px; /* Espacio interno */
    border: 10px solid #c6c6c6; /* Borde oscuro */
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif; /* Fuente profesional */
    width: 93.5%;
    height: 100px;
    overflow: auto; /* Permite el desplazamiento si el contenido es demasiado grande */
    font-size: 20px;
    color: #ffffff;
    background-color: #dedede; /* Fondo oscuro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Sombra del contenedor */
    white-space: pre-line; /* Respeta saltos de línea */
    display: block; /* Muestra los elementos en una sola columna */
}




.lineNumbers {
    width: 50px;
    background-color: #6f6f6f45; /* Fondo oscuro */
    color: #0000004a; /* Texto gris claro */
    text-align: right;
    padding-right: 10px;
    border-right: 1px none #000000;
    line-height: 1.5em;
    font-size: 25px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.editorWrapper {
    flex: 1;
    display: flex;
    position: relative;
    background-color: #242020; /* Fondo del textarea */
}

#input {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    background-color: #dedede; /* Fondo oscuro */
    color: #000000; /* Texto claro */
    resize: none;
    overflow: auto;
    white-space: nowrap;
    line-height: 1.5em;
    font-size: 25px;
    box-sizing: border-box;
    outline: none;
}

/* Estiliza la barra de desplazamiento */
#input::-webkit-scrollbar {
    width: 20px; /* Ancho de la barra de desplazamiento */
}

/* Estiliza el fondo de la barra de desplazamiento */
#input::-webkit-scrollbar-track {
    background: #0000000e; /* Color de fondo de la pista */
}

/* Estiliza el deslizador (la parte que se mueve) */
#input::-webkit-scrollbar-thumb {
    background: #b0b0b0; /* Color del deslizador */
    border-radius: 6px; /* Esquinas redondeadas */
}

/* Estiliza el deslizador al pasar el ratón sobre él */
#input::-webkit-scrollbar-thumb:hover {
    background: #919191; /* Color del deslizador al pasar el ratón sobre él */
}







/* Estiliza la barra de desplazamiento */
.consolaSalida::-webkit-scrollbar {
    width: 30px; /* Ancho de la barra de desplazamiento */
}

/* Estiliza el fondo de la barra de desplazamiento */
.consolaSalida::-webkit-scrollbar-track {
    background: #0000000e; /* Color de fondo de la pista */
}

/* Estiliza el deslizador (la parte que se mueve) */
.consolaSalida::-webkit-scrollbar-thumb {
    background: #b0b0b0; /* Color del deslizador */
    border-radius: 6px; /* Esquinas redondeadas */
}

/* Estiliza el deslizador al pasar el ratón sobre él */
.consolaSalida::-webkit-scrollbar-thumb:hover {
    background: #919191; /* Color del deslizador al pasar el ratón sobre él */
}

.botonesConsola {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los botones a la izquierda */
    border-color: #000000; /* Fondo oscuro */
    padding-top: 0px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);  Sombra de los botones */
    width: 240px; /* Ancho fijo para el contenedor de botones */
}

.boton {
    background-color: #12a7fd; /* Azul oscuro */
    color: #ffffff;
    border: none;
    border-color: #ffffff45;
    border-radius: 5px;
    padding-top: 8%;
    padding-bottom: 9%;
    cursor: pointer;
    margin-bottom: 10px; /* Espacio entre botones */
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; /* Fuente profesional */
    font-size: 30px;
    width: 100%; /* Botones ajustados al ancho del contenedor */
}

.boton:hover {
    background-color: #e5b71e;; /* Azul más oscuro al pasar el mouse */
    color: #ffffff;
    scale: 1.0;
    transition-duration: 0.25s;
}

#equipo {
    font-size: 15px;
    content: "Integrantes:\A *Balleza_Cortez_Yahir_Fernando \A *Baltazar_Cavazos_Tania_Daniela  \A *Castro_Martinez_Jose_Angel \A *Lerma_Garcia_Carlos_Alberto \A *Rocha_Martinez_Ricardo_Javier \A *Vega_Lopez_Citlali_Nohemi";
    display: block;
    position: absolute;
    background-color: #3f51b5; /* Azul oscuro */
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 5px;
    z-index: 1;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    scale: 1.1;
    white-space: pre-wrap;
    font-family: 'Montserrat', sans-serif; /* Fuente profesional */
}

#pantallaSalida {
    margin-top: 20px;
    padding: 10px;
    background-color: #1e1e1e; /* Fondo oscuro */
    border-radius: 5px;
}

#output p {
    margin: 5px 0;
    color: #e0e0e0; /* Texto claro */
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow-y: auto;
}

.custom-table th, .custom-table td {
    border: 7px solid #00000015; /* Bordes oscuros */
    padding: 16px;
    color: hsl(0, 0%, 0%); /* Texto claro */
    background-color: #ffffff; /* Fondo oscuro */
    font-size: 25px;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif; /* Fuente profesional */
}

.custom-table th {
    background-color: hotpink; /* Fondo un poco más claro */
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}


























/* Estilos para el interruptor */
.toggle-container {
    position: relative;
    width: 50px;
    height: 25px;
}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.2s;
}

.toggle-label::before {
    content: "";
    position: absolute;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px;
    transition: transform 0.2s;
}

.toggle-input:checked + .toggle-label {
    background-color: #4caf50;
}

.toggle-input:checked + .toggle-label::before {
    transform: translateX(25px);
}


.tema-container {
    display: grid;
    grid-template-columns: auto 50px;
    align-items: center;
    gap: 10px; /* Espacio entre el título y el interruptor */
}






/*PESTAÑAS */

/* Estilos para las pestañas */
.tabs {
    margin-top: 20px;
    display: flex;
    
}

.tab-button {
    background-color: #007ce1; /* Color de fondo de las pestañas */
    color: #ffffff; /* Color del texto */
    border: 1px solid #151a20; /* Borde de las pestañas */
    border-bottom: 2px solid transparent; /* Borde inferior transparente para efecto de selección */
    padding: 16px 23px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-right: 2px; /* Espacio entre las pestañas */
    border-radius: 5px 5px 0 0; /* Esquinas redondeadas en la parte superior */
    transition: background-color 0.3s ease, border-bottom 0.3s ease; /* Transición suave */
}



.tab-button:hover {
    background-color: #e5b71e; /* Fondo de la pestaña al pasar el ratón */
    color: #ffffff;
}

.tab-content {
    padding: 20px;
    border: 1px solid #2a2a37; /* Borde del contenido de las pestañas */
    border-radius: 0 0 5px 5px; /* Esquinas redondeadas en la parte inferior */
    background-color: #ffffff; /* Fondo del contenido de las pestañas */
}



.node circle {
    fill: rgb(0, 0, 0);
}

.node text {
    font: 20px sans-serif;
    stroke: rgb(0, 0, 0);
}

.link {
    fill: none;
    stroke:rgb(0, 0, 0);
    stroke-width: 1px;
}

